# =========================
# GENERAL
# =========================
.env
*.env
*.log
*.pid
.DS_Store
Thumbs.db

# =========================
# PYTHON (FastAPI)
# =========================
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Virtual environments
venv/
.venv/
env/

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Logs
logs/
app/logs/
*.log

# =========================
# NODE (Vite)
# =========================
node_modules/
dist/
build/
.vite/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# DOCKER
# =========================
*.tar
docker-data/