.cart-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    width: 100%;
}

.cart-card__name {
    min-width: 120px;
}

.cart-card__price {
    width: 30px;
}

.cart-card__quantity {
    text-align: end;
    width: 30px;
}

.btn-remove-item {
    border: none;
    cursor: pointer;
    background: none;      
    border: none;           
    padding: 0;             
    margin: 0;              
    font: inherit;          
    color: var(--primary-solid);       
    cursor: pointer;        
    outline: none;          
    box-shadow: none;       
    appearance: none;
}
.btn-remove-item:hover {
    color: var(--light-font-solid);
}