.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.dashboard h1 {
    text-align: center;
    padding: 20px;
    font-size: var(--font-xlarge);
}
.dashboard .link {
    padding: 2rem;
}