.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.not-found__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}