.terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.terms-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}