.unauthorized{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.unauthorized__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}