.login-form {
    padding: 3rem;
    width: 55rem;
    border: 1px solid;
    border-radius: 1rem;
    margin: 2rem;
}
.login__form {    
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: stretch;
    gap: var(--spacing-16);
    margin-top: 2rem;
}
.login__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}