.register-form {
    padding: 3rem;
    width: 50rem;
    border: 1px solid;
    border-radius: 1rem;
    margin: 2rem;
}
.register__header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    align-items: center;
    justify-content: center;
}
.register__title {
    font-size: var(--font-jumbo);
}
.register__subtitle {
    font-size: var(--font-large);
    margin-bottom: 1rem;
}
.register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-8);
}
#register .form__terms {
    font-size: var(--font-small);
}