.footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background-color: var(--dark-bg-solid);
    padding-top: var(--spacing-24);
    width: 100%;         
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.footer__logo {
    max-width: 6em;
}

.footer__copy {
    margin-top: var(--spacing-8);
    text-align: center;
}

.footer__link {
    font-size: var(--font-xsmall);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
    padding: 0.3em;
}

.footer__link:hover {
    background-color: var(--primary-900);
}