.tabs {
    height: 100%
}
.tabs__content {
    margin: 0 auto;
    width: 100%;
    min-height: 550px;
    overflow-x: auto;
}
.tabs__header {
    display: flex;
    border-bottom: 1px solid #ccc;
    width: 100%;
} 
.tab {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: var(--font-large);
    transition: background-color 0.3s;
}
.tab:hover {
    background-color: #f0f0f0;
}
.tab__active {
    border-bottom: 2px solid var(--secondary-solid);
    color:var(--secondary-solid);
}
.tab__active:hover {
    background-color: #f0f0f0;
}
.tab__add {
    margin-left: auto;
}